# Ignore Visual Studio build files
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.sdf
*.ipch
*.tlog
*.log
*.lastbuildstate

# Ignore Visual Studio cache and temp files
*.aps
*.ncb
*.suo
*.cache
*.VC.db
*.VC.opendb

# Ignore build output folders
Debug/
Release/
x64/
x86/
ipch/

# Ignore CMake build directories (nếu dùng CMake)
CMakeFiles/
CMakeCache.txt
build/

# Chỉ giữ lại file .h và .cpp
!*.h
!*.cpp
